<div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="home">Same as Github</h1>
    <h2 class="home">but different</h2>
    <h3 class="home">but still same...</h3>
    <%= link_to "Login with Github", "http://github.com/login/oauth/authorize?client_id=af0ee4477f822d3ade8c&scope=repo", class: "btn btn-lg btn-default btn-home" %>
  </div>
  <div class="col-md-2"></div>
</div>
